#Não fazer o upload do diretório de comentarios
comentarios/

#Não fazer o upload do diretório util
util/

#Não fazer o upload dos arquivos com extensão PSD
*.psd

#Não fazer o upload do arquivo style.all.css
style.all.css

#Não fazer o upload do arquivo cores.js
core.js
